<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176716885111-iold5gq59mn733771in54m5nj1p55jfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176716885111-iold5gq59mn733771in54m5nj1p55jfo</string>
	<key>API_KEY</key>
	<string>AIzaSyAjJ1xjKQ2ovmVgTE4-f9xF2CTZzqvwA6E</string>
	<key>GCM_SENDER_ID</key>
	<string>176716885111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uasMadeSem4Firebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>uas-made-sem4</string>
	<key>STORAGE_BUCKET</key>
	<string>uas-made-sem4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176716885111:ios:5bb65f8b1b78cce1e22a72</string>
</dict>
</plist>